<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.title }}"
    <meta name="keywords" content="Darts, PDC, Professional Darts, {{ site.title }}"
    <meta property="og:title" content="{{ site.url }}">
    <meta property="og:description" content="{{ site.title }}">
<!--
    <meta property="og:image" content="{{ site.player_headeshot }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.title }}">
    <meta name="twitter:image" content=" {{ site.player_headshot }}">
-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2579acd65e.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/5.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {%- if site.google_analytics_id -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics_id }}');
    </script>    
    {%- endif -%}
  </head>
  <body>
    <header>
      <a href="{{ site.url }}"><img src="{{ site.player_headshot }}" /></a>
      <h1>{{ site.title }}</h1>
      <p>{{ site.player_bio }}</p>
      <dl>
        <dt>{{ site.league }} Ranking</dt>
        <dd>{{ site.rank }}</dd>
        {% if site.next_event %}
          <dt>Next Event</dt>
          <dd>{{ site.next_event }}</dd>
        {% endif %}
        <dt>Media Inquiries</dt>
        <dd><a href="mailto:{{site.media_inquiries}}">{{ site.media_inquiries }}</a></dd>
        <dt>Business Inquiries</dt>
        <dd><a href="mailto:{{site.business_inquiries}}">{{ site.business_inquiries }}</a></dd>
      </dl>
    </header>
    <main>
      <img src="/assets/img/spacer.png" alt="" aria-hidden=true style="background-image:url('{{ site.banner_image }}')" class="banner" />

      {%- if site.news -%}
        <h1 class="fa fa-bullhorn">News!</h1>
        <div>{{ site.news }}</div>
      {%- endif -%}
      
      {{ content }}

      <footer class="sponsors">
        <h2>Sponsors</h2>
        {%- assign sponsors = site.sponsors -%}
        <ul>
        {%- for sponsor in sponsors -%}
          <li>
            <a href="{{ sponsor.url }}"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" /></a>
          </li>
        {%- endfor -%}
        </ul>
      </footer>

      <footer class="links">
        <ul>
          {%- if site.twitter -%}
            <li>
              <a href="{{ site.twitter }}"  class="fa fa-">Twitter</a>
            </li>
          {%- endif -%}
          {%- if site.facebook -%}
            <li>
              <a href=""  class="fa fa-"></a>
            </li>
          {%- endif -%}
          {%- if site.youtube -%}
            <li>
              <a href=""  class="fa fa-"></a>
            </li>
          {%- endif -%}
          {%- if site.instagram -%}
            <li>
              <a href=""  class="fa fa-"></a>
            </li>
          {%- endif -%}
          {%- if site. -%}
            <li>
              <a href=""  class="fa fa-"></a>
            </li>
          {%- endif -%}
          
          
          
          
          twitter: https://twitter.com/mattlangan
facebook: https://facebook.com/mattlangan
youtube: https://youtube.com/cityleaguedarts
instagram: https://instagram.com/cityleaguedarts

        </ul>
      </footer>
<!--
      <footer class="site-home">
        <ul>
          <li>
            <a href="{{ site.url }}" class="fa fa-link">Site Homepage</a>
          </li>
        </ul>
      </footer>
-->
    </main>
  </body>
</html>
